fastapi
uvicorn[standard]==0.34.0
sqlalchemy
pydantic==2.10.4
pydantic-settings==2.7.0
email-validator
psycopg2-binary
asyncpg
alembic
celery
redis
requests
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
# AI/ML
langchain
langchain-community
langchain-openai
langchain-text-splitters
# sentence-transformers (Moved to requirements-local.txt to save Cloud RAM)
qdrant-client

rank_bm25
# Ingestion
playwright
beautifulsoup4
trafilatura
lxml_html_clean
pymupdf
python-docx
python-pptx
pytesseract
youtube-transcript-api
pygithub
instaloader
openai
google-generativeai
groq
python-dotenv
supabase
storage3
python-multipart
